<% title( @presentation.title )%>
<div id="map">
</div>
<script language="javascript">
  function loadBaseLayer() {
    zuip = new OpenLayers.Layer.ScalableInlineXhtml( '<%= @presentation.title %>', '<%= zuip_path(name) %>', <%= olBoundsForViewBox(@presentation.viewBox) %>, new OpenLayers.Size(160,120),{isBaseLayer: true, numZoomLevels: 14} );
    map.addLayers([zuip]);
  }
</script>

<%= render :partial => "outline", :locals => { :outline => @presentation.outline } %>
